/*
TO DO

searchbar innerhalb des background colors verkleinern
modulares popup
background image disappeared manchmal

responsive

= friseurbild footer wieder zentriert zwischen contact und nav
bilder kleiner in mobile?

schriftgröße mitskalieren mit size? navigation etc poppt aus border radius bei kleinen screen

media queries portrait orientation

font ändern - katja

responsive for 5k???? FULL HD PLUS

*/

body {
    background-attachment: fixed;
    background-size: 100%;
    background-image: url("./img/bg-hair.jpg");
    margin: auto;
    width: 100%;
    font-family: "Times New Roman", sans-serif;
}

li {
    color: #fff;
    background-color: rgba(23, 46, 74, 0.59);
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    text-align: center;
    background-color: rgba(12, 120, 150, 0.63);
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(12, 120, 150, 0.5);
    padding: 10px;
    
}

h3 {
    background-color: rgba(12, 120, 150, 0.63);
    color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    padding: 2px 0px 5px 0px;
    box-shadow: 0px 10px 30px rgba(0, 56, 72, 0.3);
}

.footer {
    text-align: center;
    padding-bottom: 20px;
}

.nav-top {
    margin-top: 29px;
}

#holidays {
    margin-top: 20px;
}

.contact li {
    padding: 3px;
}

#friseursalon-img {
    margin-top: 2em;
    box-shadow: 0px 10px 30px rgba(23, 46, 74, 0.68);
}

hr {
    border: 2px solid rgba(23, 46, 74, 0.26);
}

a:link,
a:visited,
{
    color: #fff;
    text-decoration: none;
}

#home {
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.75);
}

#send-button {
    position: relative;
    text-align: center;
}

.send-button {
    width: 50%;
    margin: 20px 0px 20px 0px;
}

.input-group {
    width: 100%;
}

span {
    text-align: center;
    margin: auto;
}

#checkbox-hans,
#holidays {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.form-control {
    text-align: center;
}

.table-striped {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 59, 255, 0.15);
    line-height: 30px;
}

th {
    margin: auto;
    width: 50%;
    text-align: center;
}

table,
th,
td {
    border: 2px solid rgba(102, 162, 193, 0.5);
}

#personal-data {
    text-align: center;
    margin: auto;
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
    .table-striped {
        width: 100%;
    }
}


/*

@media all and (orientation: portrait) {
    
    image-orientation: 90deg;
}

*/

@media screen and (max-width: 1279px) {
    .nav-top {
        margin-top: 10px;
    }
}

tbody td:hover {
    
    background-color: rgba(135, 186, 212, 0.26);
}

@media screen and (max-width: 320px) {
    .nav-bottom li {
            height: 70px;
        padding-top: 15px;
    } 
    #make-an-appointment-nav-bottom {
        padding-top: 5px;
    }

}
